.goban {
  display: flex;
  flex-flow: column nowrap;
  aspect-ratio: 1/1;
  max-height: 85vmin;
  max-width: 85vmin;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
}

.cell {
  flex: 1;
}

img {
  width: 100%;
  height: 100%;
}
